* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(19, 19, 26);
}
.main-section {
  height: 60%;
  width: 50%;
  margin: 33vh auto;
  background-color: rgb(31, 31, 45);
  border-radius: 1.5rem;
  padding: 1.5rem;
  min-width: 300px;
  max-width: 400px;
}
