* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #131518;
}
main{
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}
.main-section {
  margin: 12.18rem auto 0 auto;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 1.875rem;
  padding: 1.75rem;
  width: 25.7rem;
  height: 26rem;
}
