* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #131518;
}
main{
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}
.main-section {
  margin: 15% auto 0 auto;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 1.5rem;
  padding: 2rem;
  max-width: 30%;
  min-width: 300px;
  max-height: 40%;
  min-height: 100px;
}
